flask-cors
flask_classful
flask-googlemaps
flask-login
flask-sqlalchemy
Flask==2.0.2
# flask==1.1.1
flask_session
geocoder
geopandas
geoplot
geopy
gpxpy
gunicorn
jsonpickle
matplotlib
plotly
python-dateutil
sqlalchemy
tqdm
werkzeug
sqlalchemy_utils
shapely
pyproj
setuptools
cartopy
numpy
pandas
scikit-learn
fiona
Werkzeug==2.2.2
