flask-cors
python-dotenv
flask_classful
pytz
flask-googlemaps
flask-sqlalchemy
Flask==2.3.3
geocoder
geopandas
geopy
gpxpy
gunicorn
jsonpickle
plotly==5.24.1
python-dateutil
sqlalchemy
tqdm
Werkzeug
sqlalchemy_utils
shapely
pyproj
setuptools
numpy
pandas
scikit-learn
fiona
xmltodict
Flask-HTTPAuth
ortools
