flask-cors
python-dotenv
flask_classful
flask-googlemaps
flask-login
flask-sqlalchemy
Flask==2.3.3
flask_session
geocoder
geopandas
geoplot
geopy
gpxpy
gunicorn
jsonpickle
matplotlib
plotly==5.24.1
python-dateutil
sqlalchemy
tqdm
werkzeug
sqlalchemy_utils
shapely
pyproj
setuptools
cartopy
numpy
pandas
scikit-learn
fiona
Werkzeug
xmltodict
flask-login
Flask-HTTPAuth
