<!doctype html>
<html>
 <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/example.css') }}">
    <title>{{page_title}}</title>
 </head>
 <body>
  <h1>{{title}} {{stat_string }}</h1>
  <div class="button-container">
    <a class='btn' href="counties">Counties</a>
    <a class='btn' href="states">States</a>
    <a class='btn' href="countries">Countries</a>
    <a class='btn' href="/">Map</a>

    <form class="form-inline" id="country-form" action="/log_country">
      <label for="start">Add Country</label>
      <input type="text" id="start" placeholder="<Country Name or Code>" name="country">
      <button type="submit">Submit</button>
    </form> 
  </div>

  <div id='chart' class='chart'></div>
  <!-- <table>
    <tbody>
      <tr>
        <td>Wyoming</td>
        <td>7</td>
        <td>23</td>
        <td><a class='btn' href='state_view?state=WY'>View</a></td>
      </tr>
    </tbody>
  </table> -->

  {{more_html|safe}}
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>

  var graphs = {{graphJSON | safe}};
  var trace1 = {
    type: 'bar',
    x: [1, 2, 3, 4],
    y: [5, 10, 2, 8],
    marker: {
        color: '#C8A2C8',
        line: {
            width: 2.5
        }
    }
  };

  var data = [ trace1 ];

  var layout = { 
    title: 'Responsive to window\'s size!',
    font: {size: 18}
  };

  var config = {responsive: true}

  Plotly.newPlot('chart', graphs, layout, config );


</script>
</html>
